<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
</div>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="contactForm" #feedbackForm="ngForm">
  <p>{{ contactForm.value | json }} {{ contactForm.status | json }}</p>
  <p>
    <mat-form-field>
      <label>First Name</label>
      <input matInput type="text" name="firstName" formControlName="firstName"/>
      <mat-error *ngIf="contactForm.get('firstName').hasError('required') && contactForm.get('firstName').touched">
        FirstName is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Last Name</label>
      <input matInput type="text" name="lastName" formControlName="lastName" />
      <mat-error *ngIf="contactForm.get('lastName').hasError('required') && contactForm.get('lastName').touched">
        Last Name is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Telephone Number</label>
      <input matInput type="number" name="telNum" formControlName="telNum" />
      <mat-error *ngIf="contactForm.get('telNum').hasError('required') && contactForm.get('telNum').touched">
        Telephone No. is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Email</label>
      <input matInput type="email" name="email" formControlName="email" />
      <mat-error *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">
        Email is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
  </p>
  <p>
    <label>How?</label>
    <select placeholder="How?" formControlName="contactType">
      <option *ngFor="let cType of contactType">{{ cType }}</option>
    </select>
  </p>
  <p>
    <mat-form-field>
      <label>Message</label>
      <textarea matInput row="10" col="10" formControlName="message"></textarea>
    </mat-form-field>
  </p>
  <p>
    <button mat-button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </p>
</form>