<button type="button" (click)="back()"><- Back</button>
<div class="row" *ngIf="dish">
	<div class="col-md-6">
		<img 
			src="{{dish.image}}"
			alt="{{dish.name}}">
		<br/>
		Name: {{dish.name | uppercase}} 
		<br/>
		price: {{dish.price}}<br/>
		desc: {{dish.description}}<br/>
	</div>
    <button mat-button [routerLink]="['/dish-detail', prev]"><span class="fa fa-chevron-left fa-lg"></span>Prev</button>
    <button mat-button [routerLink]="['/dish-detail', next]"><span class="fa fa-chevron-right fa-lg"></span>Next</button>

	<div *ngIf="dish" class="col-md-6">
		<h1>Comments</h1>
		<div *ngFor="let comment of dish.comments">
			rating: {{comment.rating}}<br/>
			comment: {{comment.comment}}<br/>
			author: {{comment.author}}
		</div>
	</div>
</div>

<div [hidden]="dish">
	Loading... Please wait.
</div>